/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";

.navbar{
    &-toggler{
       position: absolute;
       top:0.5rem;
       right: 0rem;
       z-index: 10;
       .fa-bars{
           display: none;
       }
       &[aria-expanded="false"]{
           .fa-times{
               display: none;

           }
           .fa-bars{
               display: block;
           }
       }
    }
    &-collapse{
        position: fixed;
        width: 100%;
      
        background-color: #e57f85;
        top: 0;
        left: 0;
    }
}
.header_container{
    background-color: #26b0e6;
}


